// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


.all{
    display:flex;
    width:100%;
}
.left{
    width:15%;
    height:200px;
   
}
.right{
    width:85%;
  
    
}
.nav
{
    background:#00a0a0;
    margin-bottom:30px;
   
}
.nav a
{
    color:white;
}
.title
{
    text-align:left;
    
}
h5
{
    text-transform:uppercase;
}

